---
title: My Rad Blog
---

<!doctype html>
<html lang="en" style="height: 100%;margin: 0; padding: 0;">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
  </head>
  <body style="display : table;width: 100%;height: 100%;margin: 0; padding: 0;">
    {{ content | safe }}

    <footer style="display : table-row;height:20px;">
      <a href="https://twitter.com/tpoulain" target="_blank">@tpoulain</a>
    </footer>
  </body>
</html>